---
interface Props {
    name: string;
    image: string;
    imagesrc: string;
    desc: string;
    colspan: number;
}

const { name, image, desc, colspan = 1, imagesrc } = Astro.props;
---
<div class={"group bg-white rounded-2xl p-8 shadow-xl shadow-blue-100 hover:shadow-2xl hover:shadow-blue-100 transition-all duration-300"} style={colspan !== 1 ? "grid-column: 1/4" : ""}>
    <div class="text-4xl mb-4 transform group-hover:scale-110 transition-transform">{image ? image: (
        <img src={imagesrc} alt="img" style="width: 4rem;"/>
    )}</div>
    <h3 class="text-xl font-display font-bold mb-3">{name}</h3>
    <p class="text-gray-600">{desc}</p>
</div>
